certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
crypto==1.4.1
cryptography==40.0.2
idna==3.4
Naked==0.1.32
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyYAML==6.0
requests==2.30.0
shellescape==3.8.1
urllib3==2.0.2
